<link rel="stylesheet" href="/css/layui.css">
<div xmlns="" xmlns:v-bind="http://www.w3.org/1999/xhtml" id="app">


    <!--表格-->
    <fieldset class="layui-elem-field">
        <legend>查询结果</legend>
        <div class="layui-field-box">
            <table class="layui-table" lay-even="" lay-skin="nob">

                <thead>
                <tr>
                    <th style="width: 5%;text-align: center">序号</th>
                    <th style="width: 10%;text-align: center">名称</th>
                    <th style="width: 10%;text-align: center">资源名称</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>绑定角色</td>
                </tr>
                <tr v-for="(item,index) in list.list[0]">
                    <td style="width: 5%;text-align: center">{{index+1}}</td>
                    <td style="width: 10%;text-align: center">{{item.name}}</td>
                    <td style="width: 10%;text-align: center">
                        <a href="javascript:void (0)" class="layui-btn layui-btn-normal layui-btn-sm" lay-even="search" @click="search()">查看</a>
                    </td>
                </tr>
                <tr>
                    <td>绑定资源</td>
                </tr>
                <tr v-for="(item,index) in list.list[1]">
                    <td style="width: 5%;text-align: center">{{index+1}}</td>
                    <td style="width: 10%;text-align: center">{{item.name}}</td>
                    <td style="width: 10%;text-align: center">
                        <a href="javascript:void (0)" class="layui-btn layui-btn-normal layui-btn-sm" lay-even="search" @click="search()">查看</a>
                    </td>
                </tr>
                <tr v-if="list.max==0">
                    <td colspan="5" style="text-align: center"><h3 style="margin-top: 5px">搜索无结果</h3></td>
                </tr>
                </tbody>
            </table>
        </div>


    </fieldset>

</div>

<!--自定义脚本-->
<script src="/js/vue.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/lay/modules/layer.js"></script>
<!--<script src="bootstrap.min.js"></script>-->
<script type="text/javascript">
    var vm = new Vue({
        el: "#app",
        data: {
            list: '',
            isActive: false,
            isActive2: false,
        },
        mounted: function () {
            this.getmodel();
        },
        methods: {
            getmodel: function (page) {
                var id=localStorage["id"]
                layer.load(1, {
                    shade: false
                });
                $.ajax({
                    url: "/auth/getPermissionsAndRoles",
                    data: {
                        id:id
                    },
                    success: function (data) {
                        vm.list = data;
                        layer.closeAll();
                    }
                })

            },
            fly: function () {
                this.getmodel()
            },
            add:function () {
                layer.open({
                    type: 2,
                    title: '修改',
                    maxmin: true,
                    shadeClose: true, //点击遮罩关闭层
                    area : ['85%' , '85%'],
                    content: '666',
                });
            },
            add:function () {
                layer.open({
                    type: 2,
                    title: '查看详情',
                    maxmin: true,
                    shadeClose: true, //点击遮罩关闭层
                    area : ['85%' , '85%'],
                    content: '/',
                });
            }
        }
    });
</script>